@import "./_variables";
@import "./_panda";
@import "./_btn-link";
@import "./_text-effect";
@import "./ice";
@import "./_explore.scss";
.container {
  width: 80vw;
  //height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  margin: 2rem auto;
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
}